*{
  font-family:"Open Sans", sans-serif;
  color: #666666;
  padding: 0;
  margin: 0;
}

/** The Navigation Menu**/

.navigation {
  display: grid;
  grid-template-columns: 50vh 180vh;
  grid-template-rows: 1fr;
  padding: 5px;
  margin: 10px 2px 5px 5px;
  height: 8%;
}

.navImage {
  width: 30%;
  height: 70%;
  padding-left: 60px;
}

.navMenu {
  width: 65%;
  margin-left: 30vh;
}

.navMenu li {
  display: inline-block;
  padding: 10px 30px;
}

@media (max-width: 900px) {
}

.navMenu a {
  text-decoration: none;
  font-size: 15px;
}

.navMenu li a:hover{
  color: white;
  background-color: rgb(244,206,21);
  border-radius: 20px;
  padding: 10px 12px;
  border: 10px white;
  border-radius: 5px;
}

/** Home Section **/

#homeSection {
  display: grid;
  grid-template-columns: 100vh 100vh;
  grid-template-rows: 1fr;
  background-color: rgb(73,94,87);
  height: 32vh;
  padding: 10px;
  border: white 1px;
  border-radius: 2px;
  margin-bottom: 12vh;
}

.reserveTable {
  text-align: left;
  padding: 10px 50px 10px 60px;
}

.reserveTable h1 {
  font-weight: 40;
  font-size: 40px;
  color: rgb(195,165,16);
}

.reserveTable h5 {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(240, 242, 243);
}

.reserveTable p {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 5px 0 0;
  text-align: justify;
  color: white;
}

.reserveTable button {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(244,206,21);
  border: white 1px;
  border-radius: 5px;
  color: rgb(32, 27, 27);
}

#homeSection .image {
  height: 110%;
  width: 55%;
  margin-left: 180px;
  margin-right: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

/** Highlight Section **/

.highlightMenu {
  display: grid;
  grid-template-columns: 70vh 70vh;
  grid-template-rows: 1fr;
  margin-left: 28vh;
}

.highlightMenu h2 {
  font-weight: 300;
  font-size: 40px;
  padding: 5px 5px 10px 5px;
  margin: 10px 50px 5px 80px;
}

.highlightMenu button{
  width: 25%;
  height: 40px;
  padding: 10px;
  margin: 15px 40px 5px 200px;
  background-color: rgb(244,206,21);
  border: white 1px;
  border-radius: 5px;
  color: rgb(32, 27, 27);
}

#Cards{
  display: grid;
  grid-template-columns: 55vh 55vh 55vh;
  grid-template-rows: 1fr;
  margin: 20px 0 10px 120px;
  height: 92vh;
}

#Cards .image{
  height: 40vh;
  width: 90%;
  margin: 0 10px 0 10px;
  border-radius: 3px;
}

#Cards .menuDetails{
  background-color: rgb(205, 207, 206);
  margin: 0 25px 40px 10px;
  height: 50vh;
}

#Cards .foodName {
  display: grid;
  grid-template-columns: 30vh 20vh;
  padding: 5px;
}

.foodName h5{
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0 30px 5px 10px;
}

.foodName p{
  color: rgb(238,163,129);
  font-size: 15px;
  margin-bottom: 25px;
}

.menuDetails h6 {
  padding: 10px 15px 15vh 15px;
  width: 90%;
  font-size: 13px;
  line-height: 1.8em;
  text-align: justify;
}

.menuDetails h5{
  padding: 10px 15px;
  font-weight: bold;
  color: black;
}

/**The Testimonial Section**/
.testimonials {
  display: grid;
  grid-template-columns: 70vh 70vh 70vh;
  height: 45vh;
  margin: 10px 0;
}
.card {
  background-color: rgb(205,207,206);
  width: 85%;
  margin: 5px 20px 5px 20px;

}

.card img{
  height: 23vh;
  width: 35vh;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}

.card h5{
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-left: 280px;
  margin-top: 50px;
}

.card h6{
  font-weight: light;
  font-size: 14px;
  width: 80%;
  line-height: 1.3em;
  margin-top: 120px;
  padding: 5px 10px 10px 15px;
}

/**About the company**/
#about {
  display: grid;
  grid-template-columns: 100vh 100vh;
  grid-template-rows: 1fr;
  background-color: rgb(73,94,87);
  height: 30vh;
  padding: 10px 15px;
  width: 98%;
}

#about .detailsSection{
  width: 80%;
  text-align: justify;
  margin: 6px 20px;
}

.detailsSection h1 {
  font-weight: 40;
  font-size: 40px;
  color: rgb(195,165,16);
}

.detailsSection h5 {
  font-size: 20px;
  font-weight: lighter;
  color:rgb(239, 239, 240);
}

.detailsSection p {
  font-size: 14px;
  line-height:16px;
  margin: 6px 5px 0 0;
  text-align: justify;
  color: rgb(255, 255, 255);
  width: 80%;
}

#about .aboutImages {
  display: grid;
  grid-template-columns: 40vh 40vh;
  grid-template-rows: 1fr;
}

.aboutImages img{
  height: 100%;
  width: 95%;
  margin-left: 80px;
  margin-right: 20px;
}

/**The Footer**/

#theFooter {
  height: 15vh;
  display: grid;
  grid-template-columns: 80vh 120vh;
  grid-template-rows: 1fr;
}

#theFooter li {
  display: inline-block;
  padding: 10px 30px;
}

#theFooter a {
  text-decoration: none;
  font-size: 15px;
  color: #1b1818;
  margin-left: 80px;
}

#theFooter li a:hover{
  color: rgb(114, 114, 31);
  border: 10px white;
  border-radius: 5px;
}

#theFooter .image {
  width: 30%;
  height: 70%;
  padding-left: 50px;
}



